<h1>Listing statuts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuts.each do |statut| %>
  <tr>
    <td><%= statut.name %></td>
    <td><%= statut.color %></td>
    <td><%= link_to 'Show', statut %></td>
    <td><%= link_to 'Edit', edit_statut_path(statut) %></td>
    <td><%= link_to 'Destroy', statut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statut', new_statut_path %>
