<% ajd = @dispo.jour%>
<% if @dispo.jour.wday == 6 %>
<div class="alert alert-info">
	Attention, le <%= l ajd, :format => "%A %d %B" %>, c'est un samedi ! <%= link_to 'Passer directement au lundi en cliquant ici', new_dispo_path(:day => @dispo.jour.to_date+2) %>
 	</div>
<% end %>
<% if @dispo.jour.wday == 0 %>
<div class="alert alert-info">
	Attention, le <%= l ajd, :format => "%A %d %B" %>, c'est un dimanche ! <%= link_to 'Passer directement au lundi en cliquant ici', new_dispo_path(:day => @dispo.jour.to_date+1) %>
	</div>
<% end %>

<!-- Si le user a des dispos -->
<% if current_user.dispos.of_day(@date).any? %>
	<div id="deja_dispo" class="well"> 
		Le <%= l ajd, :format => "%A %d %B" %>, tu es : 
		<% current_user.dispos.of_day(@date).each do |truc| %>
		 	<span class="label label-info"><%= truc.statut.name %></span>
			 <% if truc.comments? %>
			- <i>"<%= truc.comments %>"</i>
			<% end %>
			<br /><br />
				<div id="proposer_modifier" class="controls">
					<%= link_to dispo_path(truc.id ), options = { :confirm => 'Modifier cette valeur ?', :method => :delete, :class => "btn btn-danger btn-small",  } do %>
					Modifier
					<i class="icon-edit"></i>
					<% end %>
					<br /><br />
				</div>
				<div id="next_days" class="btn-group">
					 <% if @dispo.jour.wday == 1 %>
	                                        <%= link_to '«', new_dispo_path(:day => @dispo.jour.to_date-3), :class => "btn" %>
        	                        <% else %>
                	                        <%= link_to '«', new_dispo_path(:day => @dispo.jour.yesterday.to_date), :class => "btn" %>
                        	        <% end %>
	                                <button class="btn"><%= l ajd, :format => "%A %d %B" %></button>

        	                        <% if @dispo.jour.wday == 5 %>
                	                        <%= link_to '»' , new_dispo_path(:day => @dispo.jour.to_date+3), :class => "btn" %>
                        	        <% else %>
                                	        <%= link_to '»' , new_dispo_path(:day =>@dispo.jour.tomorrow.to_date), :class => "btn" %>
	                                <% end %>
				</div>
		<% end %>
	</div>

<!-- Si le user n'a pas de dispos -->
<% else %>
<%= form_for(@dispo, :html => { :class => "well" }) do |f| %>
	<div class="control-group">
		<label class="control-label"><%= current_user.first_name %>, le <%= l ajd, :format => "%A %d %B" %>, tu es :</label>
			<div class="controls">
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :jour, :value => ajd %>
				<% @statuts.each do |statut| %>
				<label class="radio">	
						<%= f.radio_button :statut_id, statut.id %> <span class="<%= statut.color %>"><%= statut.name %></span> 
					</label>
				<% end %>	
			</div>
		</div>
		<div class="control-group">
				<div class="controls">
					<label class="control-label" for="textfield">Infos complémentaires (projet ...) :</label>
						<%= f.text_field :comments, :class => "input-large" %>
				</div>
			</div>
<!--			<div class="control-group">
				<div class="controls">
					<a href="#">Ajouter une demi-journée</a>
				</div>
			</div> -->

		  <div class="controls">
		    <%= f.submit 'Sauvegarder >>', :class => "btn btn-success" %>
		  </div>
		<div>
			<div class ="control-group">
			<div id="next_days" class="btn-group">
				</br >
 				<% if @dispo.jour.wday == 1 %>
                                        <%= link_to '«', new_dispo_path(:day => @dispo.jour.to_date-3), :class => "btn" %>
                                <% else %> 
                                        <%= link_to '«', new_dispo_path(:day => @dispo.jour.yesterday.to_date), :class => "btn" %>
                                <% end %>

				<button class="btn"><%= l ajd, :format => "%A %d %B" %></button>

                                <% if @dispo.jour.wday == 5 %>
                                        <%= link_to '»' , new_dispo_path(:day => @dispo.jour.to_date+3), :class => "btn" %>
                                <% else %>
                                        <%= link_to '»' , new_dispo_path(:day =>@dispo.jour.tomorrow.to_date), :class => "btn" %>
                                <% end %>

			</div>
			</div>
		</div>
<% end %>
<% end %>
