<h1>Listing dispos</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispos.each do |dispo| %>
  <tr>
    <td><%= dispo.jour %></td>
    <td><%= link_to 'Show', dispo %></td>
    <td><%= link_to 'Edit', edit_dispo_path(dispo) %></td>
    <td><%= link_to 'Destroy', dispo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dispo', new_dispo_path %>
