<div class="container-fluid">
	<div class="row-fluid">
    <div class="span3">
      	<div class="well sidebar-nav">
		            <ul class="nav nav-list">
		              <li class="nav-header">Statistiques</li>
		              <li class="active"><a href="#">Taux de production</a></li>
		            </ul>
		          </div>
    </div>
    <div class="span9">
		<h2 id="month">
		<ul class="pager">
		    <li class="previous">
		    <%= link_to '«', :month => (@date.prev_month-1) %>
		    </li>
		<%=h l @date, :format => "%B %Y" %>
		    <li class="next">
		   	<%= link_to "»", :month => (@date.next_month+1) %>
		    </li>
		    </ul>
			  </h2>			
 	Nombre total de jours ouvrés du mois: <% bday = calculate_working_days(@day_first, @day_last, @weekdays).round %> <%= bday %><br />
 	Nombre de jours travaillés du mois jusqu'à aujourd'hui :  <% jour_travaille = calculate_working_days(@day_first, @date, @weekdays).round %> <%= jour_travaille %><br />

	Nombre de collaborateurs inscrits : <%= collab = User.all.count %><br />
	<% total_bday = (collab) * bday #on enleve l'admin %>
	<% current_bday = (collab) * jour_travaille #on enleve l'admin %>
	<% mission = nbre_mission("En mission") %>	<br />
	
	<% tx_prev = nbre_not_mission(total_bday,nbre_mission("Congés"),nbre_mission("Formation")) %>
	<% tx_actu = nbre_not_mission(current_bday,nbre_mission("Congés"),nbre_mission("Formation"))%>
	
	Taux de production en cours : <strong><%= tx_production(mission,tx_actu) %></strong> <br /> 
	Taux de production du mois prévisionnel : <strong><%= tx_production(mission,tx_prev) %></strong>


	<% @statuts.each do |statut| %>
	
	<% end %>
	<br /><br />
	<script type="text/javascript">
	$(function () {
	    var chart;
	    $(document).ready(function() {
	        chart = new Highcharts.Chart({
	            chart: {
	                renderTo: 'dispos_charts',
	                type: 'column'
	            },
	            title: {
	                text: 'Disponibilités'
	            },
	            subtitle: {
	                text: 'BT Secteur Public'
	            },
	            xAxis: {
	                categories: [
						<% @statuts.each do |statut| %>
						'<%= statut.name %>',
						<% end %>
	                ]
	            },
	            yAxis: {
	                min: 0,
	                title: {
	                    text: 'Jours'
	                }
	            },
	            legend: {
	                layout: 'vertical',
	                backgroundColor: '#FFFFFF',
	                align: 'left',
	                verticalAlign: 'top',
	                x: 100,
	                y: 70,
	                floating: true,
	                shadow: true
	            },
	            tooltip: {
	                formatter: function() {
	                    return ''+
	                        this.x +': '+ this.y +' jours';
	                }
	            },
	            plotOptions: {
	                column: {
	                    pointPadding: 0.2,
	                    borderWidth: 0
	                }
	            },
	                series: [{
	                name: 'Disponibilités',
	                data: [
					<% @statuts.each do |statut| %>
					<%= @dispos.where(:statut_id => statut.id).count %>,
					<% end %>
					  ]
	            }]
	        });
	  });
	});
	</script>
	<div id="dispos_charts">

	</div>
	<div id="data">

	</div>



    </div>
  </div>
	</div>