<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :day => (@date.beginning_of_month-1) %>
    <%=h l @date, :format => "%B %Y" %>
    <%= link_to ">", :day => (@date.end_of_month+1) %>
  </h2>
  <%= calendar_for @dispos, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi') %>
    <%= calendar.day(:day_method => :jour) do |date, dispos| %>
      <%= date.day %>
      <ul>
        <% for dispo in dispos %>	
          		<li><span class="<%= dispo.statut.color %>"><%= dispo.statut.name %></span>	
      				<%= link_to dispo, options = { :confirm => 'Supprimer cette valeur ?', :method => :delete } do %>
					<i rel="tooltip" title="Supprimer cette valeur" class="icon-remove"></i>
					<% end %>
				</li>
				<li>
					<%= dispo.comments %>
				</li>
        <% end %>
		<li>
			<% if not user_is_dispo(date)  %>
				<%= link_to new_dispo_path(:day => date), options = { :title => "Ajouter une dispo", :rel => "tooltip"} do %> <i class="icon-plus"></i><% end %>
			<% end %>
		</li>
	<% #end %>
      </ul>
    <% end %>
  <% end %>
</div>
<br />

<%= link_to 'Ajouter une dispo', new_dispo_path %>
