<%= link_to "MyStaff.in", root_path, :class => 'brand' %>

  <% if user_signed_in? %>
	<div class="nav-collapse">
		<ul class="nav">
			<li><a href="/dispos/new">Saisir<b></b></a></li>
			<li><a href="/synthese/">Mon calendrier</a></li>
			<li><a href="/statistics/">Mes statistiques</a></li>
			<li class="divider-vertical"></li>
			<li><a href="/board/">Tableau de bord</a></li>
			<li><a href="/indicateurs/">Indicateurs</a></li>
			<% if user_signed_in? %>
		    	<% if current_user.has_role? :admin  %> 
				<li class="divider-vertical"></li> 
				<li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
				 <b class="caret"></b></a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li><a href="/users/">Utilisateurs</a></li>
					<li><a href="/teams/">Equipes</a></li>
					<li><a href="/statuts/">Statuts</a></li>
				  </ul>
				</li>
				<% end %>
			<% end %>				
		</ul>
	</div>
	<div class="nav-collapse">
	<div class="pull-right">
		<ul class="nav">
			<li><a href="<%= edit_user_registration_path(current_user) %>"><%= current_user.first_name %> <%= current_user.name %>	</a></li>
			</ul> 
			<%= link_to('Deconnexion', destroy_user_session_path, :method => :delete, :class => 'btn btn-danger btn-small' ) %>
			</a>
		</div>
	</div>
  <% else %>
		<div class="nav-collapse">
		<div class="pull-right">
			<%= link_to('S\'inscrire', new_user_registration_path, :class => 'btn btn-primary btn-action btn-small')  %>			
			<%= link_to('Connexion', new_user_session_path, :class => 'btn btn-success btn-small')  %>			
		</div>
	</div>
  <% end %>
